<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="Tacharock"/>
    <meta name="author" content="benaich.med@gmail.com">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block meta %}{% endblock %}
    {% block stylesheet %}
        <link href="{{ asset('bundles/app/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/layout.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
    {% endblock %}
  {#  <title>{% block title %}{{ app_config.app_name }}{% endblock %}</title>#}
    <link rel="shortcut icon" type="image/x-icon" href="" />
{#
    <style>{{ app_config.app_css }}</style>
#}

    <script src="{{ asset('bundles/app/js/html5shiv.js') }}"></script>
    <![endif]-->
</head>
<body>
{% block container %}
{% include "menuadmin.html.twig" %}

<div class="visible-print col-md-12 text-left"><img src="{{ asset('bundles/app/images/header.png' )}}" alt="logooo" /></div>
<section class="wrap">
    <header id="adminbar">
        <div class="header-btn pull-left hide">
            <div class="pull-right"><small>Cité en cours : Cité Universitaire Souissi II</small></div>
            <div class="btn-group">
                <a href="#" class="btn btn-primary">Etudiant <span class="glyphicon glyphicon-plus"></span></a>
                <a href="#" class="btn btn-info">Cité <span class="glyphicon glyphicon-plus"></span></a>
                <a href="#" class="btn btn-success">Chambre <span class="glyphicon glyphicon-plus"></span></a>
                <a href="#" class="btn btn-danger">Utilisateur <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <div class="dropdown pull-right user-profile">
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <img class="img-small" src="" alt="">
                Connecté : {{ app.user.username }} <span class="glyphicon glyphicon-chevron-down"></span></a>

            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-content">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="{{ app.user.getProfilepicture()}}" alt="admin" class="img-responsive" />
                                <div class="clearfix"></div>
                                <p></p>
                            </div>
                            <div class="col-md-7">
                                <span> {{ app.user.getNomprenom()}}</span>
                                <p class="text-muted small">{{ app.user.getEmail()}}</p>
                                <div class="divider"></div>
                                <a href="" class="btn btn-primary btn-sm">Afficher mon profil</a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-footer">
                        <div class="navbar-footer-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="" class="btn btn-default btn-sm">Compte</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="" class="btn btn-default btn-sm pull-right">Déconnexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>

   {# <div class="container">
        {% include "BenLogementBundle:Default:flashes.html.twig" %}
        {% block breadcrumb %} {% endblock %}
        {% block body %}{% endblock %}
    </div>#}
</section>

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/bootstrap/js/bootstrap-select.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.cookie.js') }}"></script>
    <script src="{{ asset('bundles/app/js/application.js') }}"></script>
{% endblock javascripts %}
{% endblock container %}
</body>
</html>
