<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My page</title>

    <!-- CSS dependencies -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap.css') }}">
</head>
<body>

<p class="modal-dialog">Content here. <a class="alert" href=#>Alert!</a></p>

<!-- JS dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ asset('bundles/app/css/bootstrap.css') }}"></script>

<!-- bootbox code -->
<script src="{{ asset('bundles/app/js/bootbox.min.css') }}"></script>
<script>
    $(document).on("click", ".alert", function(e) {
        bootbox.alert("Hello world!", function() {
            console.log("Alert Callback");
        });
    });
</script>
</body>
</html>