{% if is_granted('ROLE_ADMIN') %}
    <nav id="adminmenu">
        <ul class="top-menu">
            <li> <a href=""><span class="glyphicon glyphicon-user"></span> <span class="menu-title">Comptes à valider</span></a></li>
            <li> <a href=""><span class="glyphicon glyphicon-user"></span> <span class="menu-title">Comptes patients</span></a></li>
            <li class=""><a href=""><span class="glyphicon glyphicon-lock"></span> <span class="menu-title">Comptes medecins</span></a></li>
            <li class=""><a href=""><span class="glyphicon glyphicon-home"></span> <span class="menu-title">Chambres hopital</span></a></li>
            <li class=""><a href=""><span class="glyphicon glyphicon-list-alt"></span> <span class="menu-title">Stock médicaments</span></a></li>
        </ul>
    </nav>
{% endif %}

{% if is_granted('ROLE_PATIENT') %}
    <nav id="adminmenu">
        <ul class="top-menu">
            <li> <a href=""><span class="glyphicon glyphicon-user"></span> <span class="menu-title">Liste medecins</span></a></li>
            <li class=""><a href=""><span class="glyphicon glyphicon-lock"></span> <span class="menu-title">Prise rendez-vous</span></a></li>
            <li class=""><a href=""><span class="glyphicon glyphicon-home"></span> <span class="menu-title">Mon dossier medical</span></a></li>
            <li class=""><a href=""><span class="glyphicon glyphicon-list-alt"></span> <span class="menu-title">Mes ordonnances</span></a></li>
            <li class=""><a href=""><span class="glyphicon glyphicon-list-alt"></span> <span class="menu-title">Envoyer messages</span></a></li>

        </ul>
    </nav>
{% endif %}

{% if is_granted('ROLE_MEDECIN') %}
<nav id="adminmenu">
    <ul class="top-menu">
        <li> <a href=""><span class="glyphicon glyphicon-user"></span> <span class="menu-title">Planning et RDV</span></a></li>
        <li class=""><a href=""><span class="glyphicon glyphicon-lock"></span> <span class="menu-title">Dossiers patients</span></a></li>
        <li class=""><a href=""><span class="glyphicon glyphicon-home"></span> <span class="menu-title">Ordonnances</span></a></li>
        <li class=""><a href=""><span class="glyphicon glyphicon-list-alt"></span> <span class="menu-title">Messages</span></a></li>
    </ul>
</nav>
{% endif %}

